/* Base Styles */


/* The basestyles.css sets the body display to flex. To prevent any issues with IE 10 and IE: 11
with flex due to a bug with IE in respect to flex, the flex 1 0 auto is used. */

#spring-alert,
.main-content {
    flex: 1 0 auto;
}


/* Message */


/* This will set the style for the #alert div that will be supplied content byt the spring.js script */

#alert {
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgb(104, 109, 109);
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
}


/*---Main Content Styles---*/

.main-content {
    background: white;
    width: 97.5%;
    margin: 10px auto;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(113, 119, 119);
}

.main-content a {
    color: rgb(33, 128, 33);
    font-weight: bold;
}

.intro-container {
    width: 90%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 5px;
}

img[src^="../img/fro"] {
    width: 200px;
    float: left;
    padding: 0 10px 0 0;
    border-radius: 25px;
}


/* Media Queries */


/*-----Tablet------*/

@media (min-width: 640px) {
    /* Alert Styles */
    #alert {
        margin-top: 97.5px;
        padding: 0 25px;
    }
    /* Main Content Styles  */
    .main-content {
        width: 95%;
        margin: 12.5px auto 30px auto;
        padding: 7.5px 0 20px 0;
    }
    .intro-container {
        width: 92.5%;
    }
    img[src^="../img/fro"] {
        width: 45%;
    }
}

@media (min-width: 1024px) {
    /* Alert Styles */
    #alert {
        margin-top: 72px;
    }
    /* Content Styles */
    .main-content {
        width: 92.5%;
        margin: 15px auto 75px auto;
        padding: 10px 0 25px 0;
    }
    .intro-container {
        width: 90%;
    }
    img[src^="../img/fro"] {
        width: 40%;
    }
}